<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #f3daff" >
<h1 align="center">Thank you </h1>
<h1>{{ data }} </h1>
<h3 align="center">Every year, countless numbers of missing children are reported in India
It is really distressing to see that children and other people going missing is the norm in times like these, when crime rates are at record highs
A society has to be created in such a way that, it has to be healthy and secure for the children.
 A system has to be developed to keep track and locate the missing children which will be helpful for anticrime authorities.
</h3>
</body>
</html>